// @import 'utils/variables.scss';
// @import 'utils/globalClass.scss';

.footer {
  &_inner {
    display: flex;
    flex-direction: column;
    border-radius: var(--borderR);
    background: linear-gradient(358deg, #212328 26.61%, #363D42 106.65%);
  }

  &_logo {
    height: 100px;

    img {
      height: 100%;
    }
  }

  &_link {
    background: #545C65;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &_main {
    padding: 3rem 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
    border-bottom: 1px solid #EFF2F5;
  }

  &_down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4vw;
    gap: 2rem;

    &__icon {
      width: 25px;
      margin-left: 10px;
    }
  }

  &_socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    place-items: center;
  }

  &_link {
    color: var(--white);
    font-size: clamp(14px, 2.5vw, 16px);
  }
}

@media(max-width: 910px) {
  .footer {
    &_main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }
  }
}

@media(max-width: 680px) {
  .footer {
    &_logo {
      height: 60px;
    }
  }
}

@media(max-width: 570px) {
  .footer {
    &_main {
      gap: 5vw;
    }
  }
}

@media(max-width: 464px) {
  .footer {
    &_logo {
      height: 50px;
    }

    &_main {
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }

    &_socials {
      grid-column: auto;
      width: 100%;
    }
  }
}