@import 'utils/variables.scss';
@import 'utils/globalClass.scss';
@import 'utils/fonts.scss';

*,
::after,
::before {
    box-sizing: border-box
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --app-height: 100%;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

html {
    scrollbar-color: var(--green) transparent;
    scrollbar-width: thin;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0;
    overflow: overlay;
    color: var(--white);
    width: 100%;
    background: var(--black);
    font-family: 'Montserrat';

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--green);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--black);
    }
}

#app {
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ProstoOne';
    margin: 0;
}